<footer>
    <!-- ------------------------------------------------------------
        FOOTER
    ------------------------------------------------------------ -->

    <div class="container-fluid py-5" style="background-color: white">
        <div class="container text-center">
            <h2 class="py-4">Other topics</h2>
            <div class="slick" style="height: 300px;">

                <!-- Loop over all topics -->
                {% for topic in site.topics reversed %}
                <div class="mx-2 mx-md-3 p-4 pb-5 d-flex align-items-center guide-panel__header" style="position: relative; border-radius: 4px; background-image: url({{ topic.background-image }});
                                background-color: {{ topic.main-color }}; ">
                    <a href="/topics/{{topic.name}}" class="mx-auto link--no-decoration">
                        <div class="d-block text-center mt-5 mb-5 topic-header" style="width: 100%">
                            <h2 class="text__color--white mb-4 text-uppercase">{{topic.name}}</h2>
                            <img src="{{topic.icon-image}}" style="display: inline; max-width: 100px;" />
                        </div>
                    </a>
                    <a href="/topics/{{topic.name}}"
                        style="position: absolute; bottom: 0px; right: 20px; color: white;">
                        <p class="start-now">Start Now <i class="fas fa-arrow-right"></i></p>
                    </a>
                </div>
                {% endfor %}
            </div>

            <!-- Home button -------------------------------------------------------->
            <div class="row">
                <div class="col text-center">

                    <a href="/learning-hub/" class="btn btn--red col-md-3 text-center mx-auto mt-5 mb-5 p-2"
                        style="margin: auto;"><i class="fas fa-arrow-left"></i> Back to HOTH Learn Hub</a>
                </div>
            </div>
            <!-- -------------------------------------------------------------------->

        </div>
    </div>
</footer>