/*------------------------------------*\
    #PAGE
\*------------------------------------*/

html, body {
  font-family:            $font-family;
  color:                  $color__black--base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

body {
  background-color: $page__background-color;
  
  @media print {
    background-color: white;
  }
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

