/*------------------------------------*\
    #LINKS
\*------------------------------------*/


a {
  text-decoration: none;
  color          : $link__color;
  cursor         : pointer;
  font-weight    : inherit;
  transition     : color $transition;

  &:hover, &:focus {
    color        : $link__color--hover;
  }
}

.link--white {
  color          : white;
  font-weight    : $font-weight--med;

  &:hover, &:focus {
    color        : white;
  }
}

.link--blue {
  color          : $blue--primary !important;

  &:hover, &:focus {
    color        : $blue--primary;
  }
}


.link--dark-grey {
  color          : $color__gray--dark !important;

  &:hover, &:focus {
    color        : $color__gray--dark;
  }
}

.link--red {
  color          : $red--primary;

  &:hover, &:focus {
    color        : lighten($red--primary, 5%);
  }
}

.link__action {
  font-size      : 14px;
  color          : $blue--primary;
  font-weight    : $font-weight--med;
  text-decoration: none;
  border-bottom  : 1px solid transparent;
  transition     : all $transition;

  &.link__action--subtle {
    color: $grey--500;
  }

  &:hover, &:focus {
    text-decoration: none;
    border-color        : $blue--700;
  }

}

.link__highlight {
  padding: 6px 10px;
  text-decoration: none;
}

.link__highlight--white {
  background-color: white;
  color           : $red--primary;
  border-radius   : 2px;
  transition      : all $transition;

  &:hover, &:focus {
    text-decoration : none;
    background-color: rgba(255,255,255,.1);
    color           : white;
  }
}

.link--no-decoration{
  text-decoration: none;

  &:hover{
    text-decoration: none;
  }
}