/*------------------------------------*\
    #PANELS
\*------------------------------------*/

$panel__border-radius: 4px;

.panel {
  position        : relative;
  flex-direction  : column;
  min-width       : 0;
  word-wrap       : break-word;
	background-color: white;
	border          : 0;
  border-radius   :$panel__border-radius;
	box-shadow      : 0px 3px 15px 4px rgba(0, 0, 0, 0.04);
}


// Panel Header
.panel__header {
  display: block;
  padding: 1.25em;
  border-top-left-radius: $panel__border-radius;
  border-top-right-radius: $panel__border-radius;
}


// class that adapts corners when header image gets stacked from the right to the top
.panel__header--responsive-corners--right{
  
    border-top-right-radius: $panel__border-radius;
    border-bottom-right-radius: $panel__border-radius;
  
    // Replace with bootstrap breakpoint variable
  @media screen and (max-width: 992px) { 
    border-top-left-radius: $panel__border-radius;
    border-top-right-radius: $panel__border-radius;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

  }
}

// class that adapts corners when header image gets stacked from the LEFT to the top
.panel__header--responsive-corners--left{
  
    border-top-left-radius: $panel__border-radius;
    border-bottom-left-radius: $panel__border-radius;
  
    // Replace with bootstrap breakpoint variable
  @media screen and (max-width: 992px) { 
    border-top-left-radius: $panel__border-radius;
    border-top-right-radius: $panel__border-radius;
    border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;

  }
}

// panel hover effect
.panel__hover--shadow{

  transition: all 0.2s;
  

  &:hover{
    transform: scale(1.01);
    box-shadow: 0px 10px 20px rgba(0,0,0,.07); 
  }
}


.panel__body {
  @extend .clearfix; 

  display: block;
  padding: 1.25em;
  background-color: white;
  border-radius: $panel__border-radius;
}

.panel__body--np {
  padding: 0;
}

.panel__body-padding {
  padding: 1.25em !important;
}



// Panel Colors
.panel__purple--300 {
  background-color: $purple--300;
  color: white;
}

.panel__purple--400 {
  background-color: $purple--400;
  color: white;
}

.panel__purple--500 {
  background-color: $purple--500;
  color: white;
}
 
.panel__blue--600 {
  background-color: $blue--600;
  color: white;
}

.panel__red--100 {
  background-color: $red--100;
}

.panel__red--500 {
  background-color: $red--primary;
}

.panel__bg--wave {
  background-image: url('../images/imgs/img__wave-background.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.panel__bg--learn-curve {
  background-image: url('../images/imgs/img__learn-curve-bg.gif');
  background-position: bottom;
  background-color: white;
  background-repeat: no-repeat;
  background-size: cover;

  // Replace with bootstrap breakpoint variable
  @media screen and (max-width: 992px) { 
    background-image: none;

  }
}

.panel__header--max-width{
   max-width: 500px; // Learning header image
   margin-left: auto;
   margin-right: auto;
}


.panel__title {
  font-size       : 18px;
  margin-bottom   : 16px;
}

.panel__metric-heading {
  font-size    : 12px;
  font-weight  : $font-weight--med;
  color        : $color__gray--dark;
  margin-bottom: 4px;
}

.panel__grey--150 {
  background-color: #EDEDEC;
}