/*------------------------------------*\
    #H-TABLES
\*------------------------------------*/

.h-tables {

  thead {
    font-size        : 10px;
    color            : $color__gray--base;
    text-transform: uppercase;

    th {
      padding-top    : 12px;
      padding-bottom : 12px;
      border-top: none;
      border-bottom: 1px solid $color__gray--base;
      cursor         : pointer;
      transition: color $transition;

      &:first-of-type {
        padding-left : 16px;
      }

      &:last-of-type {
        padding-right: 16px;
      }

      &:hover, &:focus {
        color        : $color__blue--base;
      }
    }
  }

  tbody tr {
    background-color: $grey--100;
    &:nth-child(odd) {
      background-color: white;
    }
  }

  td {
    padding-top   : 12px;
    padding-bottom: 12px;
    font-size     : 12px;
    line-height   : 1.5em;
    font-weight   : 500;
    color         : $grey--700;
    border-color  : $grey--200;

    &:first-of-type {
      padding-left   : 16px;
    }

    &:last-of-type {
      padding-right  : 16px;
    }
  }

  @media print {
    page-break-inside: avoid;
  }
}

.h-tables--simple {
  border             : none;
  box-shadow         : none;

  thead {
    font-size        : 12px;
    border-color     : white;
    th {
      border-top     : none;
      color: $color__gray--base;

      &:first-of-type {
        padding-left : 0;
      }

      &:last-of-type {
        padding-right: 0;
      }
    }
  }

  td { 
    color            : $color__black--base;
    border-color     : $color__gray--light;
    padding-top      : 6px;
    padding-bottom   : 6px;
    font-size        : 12px;

    &:first-of-type {
      padding-left   : 0;
    }

    &:last-of-type {
      padding-right  : 0;
    }
  }
}

.h-tables--dark {
  background-color   : transparent;

  thead {
    color            : white;
  }

  td {
    color            : white;
    border-color     : white;
  }

}

.h-tables__position {
  float     : left;
  width     : 20px;
  text-align: center;

}

.table__checkout {
  width: 100%;

  thead {
    font-size        : 16px;
    color            : $grey--700;

    th {
      padding-top    : 10px;
      padding-bottom : 10px;
      border-top:   none;
      border-bottom: 2px solid $grey--700;
      cursor         : pointer;
      transition: color $transition;

      &:first-of-type {
        padding-left : 16px;
      }

      &:last-of-type {
        padding-right: 16px;
      }
    }
  }

  tbody tr {
    background-color: white;
  }

  td {
    padding-top   : 12px;
    padding-bottom: 12px;
    line-height   : 1.5em;
    color         : $grey--700;
    border-bottom: 1px solid $grey--200;

    &:first-of-type {
      padding-left   : 16px;
    }

    &:last-of-type {
      padding-right  : 16px;
    }
  }
}

td.checkout__select {
  vertical-align: top;
  padding-top: 16px;
  padding-right: 10px;
}

.checkout__total-row {
  background-color: $grey--100;
  padding: 24px 16px;
  border-bottom: 2px solid $grey--700;
  line-height: 1.5em;
}

.checkout__item-td {
  min-width: 250px;
  padding-right: 1em;
}
.checkout__price-td {
  min-width: 115px;
}

.checkout__discount-label {
  position        : relative;
  background-color: $green--600;
  color           : white;
  font-size       : 12px;
  font-weight     : 700;
  padding         : 4px 8px;
  margin-left     : 4px;
  text-transform  : uppercase;

  &:before {
    content      : "";
    position     : absolute;
    right        : -12px;
    bottom       : 0;
    width        : 0;
    height       : 0;
    border-bottom: 12px solid $green--600;
    border-right : 12px solid transparent;
  }
  &:after {
    content     : "";
    position    : absolute;
    right       : -12px;
    top         : 0;
    width       : 0;
    height      : 0;
    border-top  : 12px solid $green--600;
    border-right: 12px solid transparent;
  }
}