///*------------------------------------*\
//    #ARTICLE
//\*------------------------------------*/

$navbar-height: 60px;

.collapsing {
  -webkit-transition: none;
  transition: none;
  display: none;
}

.article__container {
  position        : fixed;
  top             : 0;
  left            : 0;
  height          : 100vh;
  width           : 100vw;
  background-color: white;
  z-index         : 1;
  overflow-x: auto;


}

.article__content {
  font-weight: $font-weight--regular;
}

.article__nav-bar {
  position     : fixed;
  z-index      : 2;
  background-color: white;
  top          : 0;
  left         : 0;
  width        : 100%;
  height       : $navbar-height;
  border-bottom: 1px solid $grey--200;
  box-shadow   : $box-shadow;
  display: flex;
  align-items: center;

  @media screen and (max-width: 767px) {
    position: relative;
    height: auto;
    padding-bottom: 1em;

    .article__nav-bar--link-container {
      width: 100%;
      text-align: center;
      margin-bottom: 8px;
      margin-top: 8px;
    }

    .h-btn-group {
      display: block;
      width: 100%;

      form {
        display: block !important;
        margin-right: 0;
      }

      .btn {
        width: 100%;
        display: block;
        margin-bottom: 1em;
      }
    }
  }
}

.article__content-container {
  padding-top: 8em;
  padding-bottom: 4em;

  @media screen and (max-width: 767px) {
    padding-top: 4em;
  }
}

.article__content-group {
  display: block;
  margin-bottom: 4em;
}

.article__content-group-label {
  display: block;
  border-bottom : 1px dashed $grey--200;
  font-weight   : $font-weight--bold;
  color         : $grey--700;
  margin-bottom : 14px;
}

.article__nav-bar--link {
  position: relative;
  font-weight: $font-weight--med;
  color: $grey--700;
  font-size: 14px;
  transition: all $transition;

  i {
    margin-top: 6px;
    position: absolute;
    top: -6px;
    left: -25px;
  }

  &:hover {
    i {
      left: -28px;
    }
  }
}
