///*------------------------------------*\
//    #CARD
//\*------------------------------------*/

.card {
  padding      : 1.5em;
  margin-bottom: 2em;
  min-height   : 450px;
  transition   : all $transition; 

  @media screen and (max-width: 767px) {
    min-height: auto;
  }
}

.card--hoverable {
  &:hover {
    border-color: $grey--400;
    box-shadow: $box-shadow;
  }
}

.card--light-shadow{
    box-shadow: 0 3px 4px rgba(0,0,0,.08);
}


.card--complete {
  color: $grey--400;
  border-color: $grey--200;

  .card__keywords {
    color: $grey--400;
  }

  &:hover {
    border-color: $grey--200;
    box-shadow: none;
  }

}

.card__item-type {
  float: left;
  font-size: 12px; 
  text-transform: uppercase;
  font-weight: $font-weight--bold;
  letter-spacing: 1px;
  color: $grey--600;
}

.card__keywords {
  font-size: 14px;
  color: $grey--700;
}