///*------------------------------------*\
//    #Footer
//\*------------------------------------*/

footer {
background-color                      : #2c2c2c;
color                                 : white;
}

.footer__cat-header {
font-size                             : 14px;
font-weight                           : 800;
text-transform                        : uppercase;
letter-spacing                        : 1px;
}

.footer__sub-section {
font-weight                           : 800;
opacity                               : 0.6;
font-size                             : 14px;
}

.footer__copyright {
border-top                            : 1px solid #9B9B9B;
padding-top                           : 12px;
}
.footer__copyright span {
font-size                             : 14px;
font-weight                           : 800;
opacity                               : 0.6;
}

.footer__img--inc {
max-width                             : 150px;
}

footer a {
color                                 : white;
opacity                               : 0.6;
font-size                             : 14px;
line-height                           : 30px;
transition                            : opacity 0.29s ease-in-out 0s;
font-weight                           : 400;
}
footer a:hover, footer a:focus {
opacity                               : 1;
color                                 : white;
text-decoration                       : none;
}

footer address {
line-height                           : 22px;
padding-left                          : 32px;
}