/*------------------------------------*\
    #GUIDE-PANEL
\*------------------------------------*/


.guide-panel {
    position               : relative;
    padding                : 0;
    background-color       : white;
    border-radius          : 4px;
    box-shadow             : $box-shadow;
}

.guide-panel .topic-header{
    width: 100%;
    
    h2{
      margin-bottom: 10px;
    }

    img{
      max-width: 100px;
    }
}

.guide-panel .guide-header{
    width: 100%;
    
    h2{
      margin-bottom: 10px;
    }

    img{
      max-width: 250px;
    }
}


.panel__bg--cover{
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}


.guide-panel i{
    vertical-align: middle;
    padding-bottom: 2px;
}

.guide-panel__guide-list{
  list-style-type: none;
  margin: 0;
  padding-left: 0;

  li{
    margin-bottom: 10px;
  }
  
  li a {
    color: black;
  }

  li i{
    margin-left: -4px;
  }
}


