/*------------------------------------*\
    #PANELS
\*------------------------------------*/

.panel {
  position        : relative;
  flex-direction  : column;
  min-width       : 0;
  word-wrap       : break-word;
  padding         : 1.25rem;
	background-color: white;
	border          : 0;
  border-radius   : 8px;
	box-shadow      : 0px 3px 15px 4px rgba(0, 0, 0, 0.04);
}



// Panel Colors

.panel__purple--500 {
  background-color: $purple--500;
  color: white;
}


.panel__title {
  font-size       : 18px;
  margin-bottom   : 16px;
}

.panel__metric-heading {
  font-size    : 12px;
  font-weight  : $font-weight--med;
  color        : $color__gray--dark;
  margin-bottom: 4px;
}