/*------------------------------------*\
    #PANELS
\*------------------------------------*/

$panel__border-radius: 4px;

.panel {
  position        : relative;
  flex-direction  : column;
  min-width       : 0;
  word-wrap       : break-word;
	background-color: white;
	border          : 0;
  border-radius   :$panel__border-radius;
	box-shadow      : 0px 3px 15px 4px rgba(0, 0, 0, 0.04);
}


// Panel Header
.panel__header {
  display: block;
  padding: 1.25em;
  border-top-left-radius: $panel__border-radius;
  border-top-right-radius: $panel__border-radius;
}

.panel__body {
  @extend .clearfix; 

  display: block;
  padding: 1.25em;
  background-color: white;
  border-radius: $panel__border-radius;
}

.panel__body--np {
  padding: 0;
}

.panel__body-padding {
  padding: 1.25em !important;
}



// Panel Colors
.panel__purple--300 {
  background-color: $purple--300;
  color: white;
}

.panel__purple--400 {
  background-color: $purple--400;
  color: white;
}

.panel__purple--500 {
  background-color: $purple--500;
  color: white;
}
 
.panel__blue--600 {
  background-color: $blue--600;
  color: white;
}

.panel__red--100 {
  background-color: $red--100;
}

.panel__red--500 {
  background-color: $red--primary;
}

.panel__bg--wave {
  background-image: url('../images/imgs/img__wave-background.svg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}


.panel__title {
  font-size       : 18px;
  margin-bottom   : 16px;
}

.panel__metric-heading {
  font-size    : 12px;
  font-weight  : $font-weight--med;
  color        : $color__gray--dark;
  margin-bottom: 4px;
}

.panel__grey--150 {
  background-color: #EDEDEC;
}