///*------------------------------------*\
//    #COLOR
//\*------------------------------------*/

// Background color

.bg-color--grey--100 {
  background-color: $grey--100;
}

.bg-color--blue--500 {
  background-color: $blue--primary !important;
}

.bg-color--green--500 {
  background-color: $green--500 !important;
}

.bg-color--red--500 {
  background-color: $red--primary !important;
}

.bg-color--black {
  background-color: #312929 !important;
}

.bg-color--white {
  background-color: #ffffff !important;
}

.bg-color--grey--150 {
  background-color: $grey--150 !important;
}

.bg-color--grey--150 {
  background-color: $grey--150 !important;
}

.bg-color--grey--170 {
  background-color: $grey--170 !important;
}

.bg-color--transparent {
  background-color: transparent !important;
}