/*------------------------------------*\
    #SIZING
\*------------------------------------*/


// Pixels

.w-15 {
  width: 15px;
}

.w-25 {
  width: 25px;
}

.w-35 {
  width: 35px;
}

.w-50px {
  width: 50px;
}

.w-60px {
  width: 60px;
}

.w-75px {
  width: 75px;
}

.max-w--100px {
  max-width: 100px;
}

.w-180 {
  width: 180px;
}

.max-w--200 {
  max-width: 200px;
}

.max-w--250 {
  max-width: 250px;
}

.max-w--600 {
  max-width: 600px;
}

.max-w--650 {
  max-width: 650px;
}

.max-w--670 {
  max-width: 670px;
}

.max-w--700 {
  max-width: 700px;
}

.max-w--900 {
  max-width: 900px;
}

.max-w--1300 {
  max-width: 1300px;
}

.min-h--271px {
  min-height: 271px;
}

.h-80px{
  height: 80px;
}

.h-300px{
  height: 300px;
}

// Percents

.w-15pc {
  width: 15%;
}

.w-25pc {
  width: 25%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.w-100pc {
  width: 100%;
}

.min-h--100pc {
  min-height: 100%;
}

.max-w--100pc {
  max-width: 100%;
}