/*------------------------------------*\
    #SIZING
\*------------------------------------*/


// Pixels

.w-15 {
  width: 15px;
}

.w-25 {
  width: 25px;
}

.w-35 {
  width: 35px;
}

.w-50px {
  width: 50px;
}

.w-60px {
  width: 60px;
}

.w-75px {
  width: 75px;
}

.w-180 {
  width: 180px;
}

.max-w--600 {
  max-width: 600px;
}

.min-h--271px {
  min-height: 271px;
}

// Percents

.w-15pc {
  width: 15%;
}

.w-25pc {
  width: 25%;
}

.w-60 {
  width: 60%;
}

.w-80 {
  width: 80%;
}

.w-100pc {
  width: 100%;
}

.max-w--100px {
  max-width: 100px;
}