/*------------------------------------*\
    #SIZING
\*------------------------------------*/


// Pixels

.w-15 {
  width: 15%;
}

.w-25 {
  width: 25%;
}

.w-60 {
  width: 60%;
}

.w-75px {
  width: 75px;
}

.w-180 {
  width: 180px;
}

// Percents
.w-100pc {
  width: 100%;
}
