///*------------------------------------*\
//    #COLOR
//\*------------------------------------*/

// Background color

.bg-color--grey--100 {
  background-color: $grey--100;
}

.bg-color--blue--500 {
  background-color: $blue--primary !important;
}

.bg-color--green--500 {
  background-color: $green--500 !important;
}