/*------------------------------------*\
    #HOTH-PILL
\*------------------------------------*/

.h-pill {
  display         : inline-block;
  background-color: $grey--200;
  font-size       : 10px;
  font-weight     : $font-weight--med;
  padding         : 2px 12px;
  letter-spacing  : .5px;
  border-radius   : 50px;
  vertical-align  : middle;
  margin-bottom   : 4px;


}

.h-pill--med {
  font-size: 12px;
  font-weight: $font-weight--bold;
}

.h-pill__green--500 {
  background-color: $green--500;
  color: white;
}

.h-pill__green--600 {
  background-color: $green--600;
  color: white;
}

.h-pill__red--500 {
  background-color: $red--primary;
  color: white;
}

.h-pill__border {
  border: 2px solid white;
}