/*------------------------------------*\
    #HOTH-PILL
\*------------------------------------*/

.h-pill {
  display         : inline-block;
  background-color: $grey--200;
  font-size       : 10px;
  font-weight     : $font-weight--med;
  padding         : 0px 12px;
  letter-spacing  : .5px;
  border-radius   : 50px;
  vertical-align  : middle;
  margin-bottom   : 4px;


}

.h-pill--med {
  font-size: 12px;
  font-weight: $font-weight--bold;
}

.h-pill--tight {
  padding: 2px 6px;
}


.h-pill__blue--500 {
  background-color: $blue--primary;
  color: white;
}

.h-pill__green--500 {
  background-color: $green--500;
  color: white;
}

.h-pill__green--600 {
  background-color: $green--600;
  color: white;
}

.h-pill__green--inverse {
  background-color: white;
  color: $green--600;
  border: 1px solid $green--600;
}

.h-pill__red--inverse {
  background-color: white;
  color: $red--primary;
  border: 1px solid $red--primary;
}

.h-pill__red--500 {
  background-color: $red--primary;
  color: white;
}

.h-pill__border {
  border: 2px solid white;
}