/*------------------------------------*\
    #DIVIDERS
\*------------------------------------*/

.divider__thick {
  border-top: 2px solid $grey--500;
  margin-bottom: 40px;
}

.divider__dashed {
  border-top: 1px dashed $grey--200;
}

.divider__heading-partition {
  display         : block;
  height          : 2px;
  width           : 30px;
  margin-bottom   : 8px;
}

.divider__heading-partition--thick {
  height       : 3px;
  width        : 80px;
  margin-bottom: 24px;
}

.divider__heading-partition--blue {
  background-color: $blue--primary
}

.divider__heading-partition--red {
  background-color: $red--primary;
}

.divider__heading-partition--white {
  background-color: white;
}