/*------------------------------------*\
    #VIDEO-CONTAINER
\*------------------------------------*/

.video-container {
  position      : relative;
  padding-bottom: 56.25%;
  padding-top   : 30px; height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top     : 0;
  left    : 0;
  width   : 100%;
  height  : 100%;
}

.video-container--border {
  border: 2px solid white;
  border-radius: 4px;
  box-shadow: 0 20px 50px 0 rgba(34, 43, 55, 0.1);
}