/*------------------------------------*\
    #SIMPLE-LIST
\*------------------------------------*/

.simple-list--dots {
  list-style-type: disc;
  padding-left: 1em;
}

.simple-list--decimal {
  list-style-type: decimal;
  padding-left: 1em;
}

.simple-list--no-dots {
  list-style-type: none;
  padding        : 0;
  margin         : 0;
}

.simple-list--inline {
  li {
    display: inline;
  }
}

.simple-list__line-dividers {
  li {
    @extend .clearfix;

    border-bottom: 1px solid $grey--200;

    &:last-of-type {
      border-bottom: none;
    }
  }
}

.simple-list__seperator--dots {
  li {
    &:after { 
      content       : " \00b7"; 
      color         : $color__blue--base;
      font-size     : 28px;
      text-align    : center;
      vertical-align: middle;
      padding-left  : 6px;
      padding-right : 2px;
      display       : inline-block;

      .h-report & {
        color: $color__red--dark;
      }
    }

    &:last-child {
      &:after {
        content: none;
      }
    }


  }
}

/*
/ List items
*/

.simple-list__item {
  margin-bottom: .25em;
}

/*
/ List borders
*/

.simple-list--left-border {
  border-left : 3px solid;
  padding-left: 18px;
}

.simple-list--border-blue {
  border-color: $color__blue--base;
}


.simple-list__ol {
  list-style: none;
  counter-reset: h-counter;
}

.simple-list__ol li {
  position: relative;
  padding-left: 30px;
  margin-bottom: 1em;
  counter-increment: h-counter;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: counter(h-counter) ". ";
    color: $grey--700;
    font-weight: $font-weight--bold;

  }
}


/*
/ Sub Lists
*/

.simple-list__sub-list {
  list-style: none;
  counter-reset: h-counter--alpha;

  li {
    counter-increment: h-counter--alpha;

    &:before {
      content: counter(h-counter--alpha, lower-alpha) ". ";
    }
  }
}