/*------------------------------------*\
    #HOTH-PILL
\*------------------------------------*/

.h-pill {
  display         : inline-block;
  background-color: $color__gray--light;
  font-size       : 10px;
  font-weight     : $font-weight--med;
  padding         : 2px 12px;
  letter-spacing  : .5px;
  border-radius   : 50px;
  vertical-align  : middle;
  margin-bottom   : 4px;


}

.h-pill--green {
  background-color: $color__green--base;
  color: white;

}

.h-pill--red {
  background-color: $color__red--base;
  color: white;

}

.h-pill--blue-light {
  background-color: #c0e1ff;
  color: #496176;
}

.h-pill--pink-light {
  background-color: #e7bffb;
  color: #654C78;
}