///*------------------------------------*\
//    #BUTTONS
//\*------------------------------------*/


// BUTTONS
.h-btn, .btn {
  background-color: $grey--200;
  color           : $grey--800;
  padding         : 8px 24px;
  font-size       : 12px;
  font-weight     : $font-weight--bold;
  letter-spacing  : .5px;
  border          : none;
  cursor          : pointer;
  border-radius   : 2px;
  text-align: center;
  transition      : all $transition;
  box-shadow      : $box-shadow;

  &:hover, &:focus {
    background-color: $grey--700;
    color: white;
    text-decoration: none;
  }

  &:focus {
      outline:        1px dotted white;
      outline-offset: -4px;
    }

  &:active {
    background-color: $grey--800 !important;
    color: white;
  }
}

.h-btn--primary, .btn--primary {
  background-color: $blue--primary;
  color           : white;

  &:hover, &:focus {
    background-color: $blue--600;
    color: white;
  }

  &:active {
    background-color: $blue--700;
    color: white;
  }

  .h-report & {
    background-color: $color__red--base;
    color           : white;

    &:hover, &:focus {
      color: white;
      background-color: $color__red--dark;
    }

    &:active {
      background-color: $color__red--darkest !important;
    }
  }
}

.btn--red {
  background-color: $red--primary;
  color: white;

  &:hover, &:focus {
    background-color: $red--600;
    color: white;
  }

  &:active {
    background-color: $red--700;
    color: white;
  }
}

.h-btn--blue {
  background-color: $color__blue--base;
  color           : white;

  &:hover, &:focus {
    background-color: $color__blue--dark;
    color: white;
  }

  &:active {
    background-color: darken($color__blue--base, 15%);
    color: white;
  }
}

.h-btn--red-inverse, .btn--red-inverse {
  background-color: white;
  border: 2px solid $red--primary;
  color           : $red--primary;

  &:hover, &:focus {
    background-color: rgba(255,255,255,.25);
    border-color: white;
    color: white;
  }

  &:active {
    background-color: $red--600 !important;
  }
}



.btn--blue-inverse {
  background-color: white;
  border: 2px solid $blue--primary;
  color           : $blue--primary;

  &:hover, &:focus {
    background-color: $blue--primary;
    color: white;
  }

  &:active {
    background-color: $blue--600 !important;
  }
}

.h-btn--green {
  background-color: $color__green--base;
  color           : white;

  &:hover, &:focus {
    background-color: darken($color__green--base, 10%);
    color: white;
  }

  &:active {
    background-color: darken($color__green--base, 15%);
    color: white;
  }
}



// Button Sizes

.h-btn-lg, .btn-lg{
    font-size: 18px;
    border-radius: 3px;
}

.h-btn--full-width, .btn--full-width {
  display: block;
  width: 100%;
}

.btn__mobile--full-width {
  @media screen and (max-width: 767px) { 
    width: 100%;
  }  
}

.h-btn--husky, .btn--husky {
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.h-btn--round {
  border-radius: 20px;
}

// Button Links

.btn-link {
  font-size      : 12px;
  text-decoration: none;
  color          : $blue--primary;
  cursor         : pointer;
  font-weight    : $font-weight--med;
  transition     : color $transition;

  &:hover, &:focus {
    color        : $blue--600
  }
}

.h-btn__link--blue {
  color: $color__blue--base;

  &:hover, &:focus {
    color: $color__blue--dark;
    text-decoration: none;
  }
}

.h-btn__link--red {
  color: $color__red--base;

  &:hover, &:focus {
    color: $color__red--dark;
    text-decoration: none;
  }
}

.h-btn__link--gray {
  color: $color__gray--base;

  &:hover, &:focus {
    color: $color__gray--dark;
    text-decoration: none;
  }
}


.h-btn-group {
  a, form, .btn {
    margin-right: 18px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.h-btn-group__sm--full-width {
  @media screen and (max-width: 767px) {
      form {
        display: block !important;
        width: 100%;
        margin-right: 0;
      }

      .btn {
        width: 100%;
        display: block;
        margin-bottom: 1em;
      }
    }
  }