///*------------------------------------*\
//    #COLORS
//\*------------------------------------*/

/*
# Grey
*/
$grey--900: #363636;
$grey--800: #464646;
$grey--700: #5d5c5b;
$grey--600: #808080;
$grey--500: #9d9c9b;
$grey--400: #b6b4b4;
$grey--300: #cfcfcf;
$grey--200: #e9e9e9;
$grey--150: #f7f7f7;
$grey--100: #fafafa;

/*
# Red
*/
$red--primary: #d4403b;
$red--400: #e87975;
$red--300: #f7a09d;
$red--200: #ffdad9;
$red--100: #fcf0f0;
$red--900: #431413;
$red--800: #6b211e;
$red--700: #8c2c29;
$red--600: #b23733;

/*
# Blue
*/
$blue--primary: #298ee9;
$blue--400: #56a5ec;
$blue--300: #84bff4;
$blue--200: #bdddfa;
$blue--100: #f2f8fc;
$blue--900: #063863;
$blue--800: #0a477f;
$blue--700: #145fa4;
$blue--600: #1d77c9;

/*
# Teal
*/
$teal--900: #085254;
$teal--800: #16777a;
$teal--700: #229c9f;
$teal--600: #2fb9bc;
$teal--500: #3bcfd4;
$teal--400: #5adee2;
$teal--300: #7debef;
$teal--200: #acf7f9;
$teal--100: #d1fdff;

/*
# Green
*/
$green--900: #0e4029;
$green--800: #145a3a;
$green--700: #1e7d51;
$green--600: #2eaa71;
$green--500: #3bd48d;
$green--400: #70e7af;
$green--300: #95f3c7;
$green--200: #bafbdd;
$green--100: #e0fff1;

/*
# Yellow
*/
$yellow--900: #5e4c09;
$yellow--800: #866d16;
$yellow--700: #b2952d;
$yellow--600: #ceaf3f;
$yellow--500: #ebc950;
$yellow--400: #efd474;
$yellow--300: #f7e296;
$yellow--200: #faecb8;
$yellow--100: #fff9e3;

/*
# Orange
*/
$orange--900: #62240b;
$orange--800: #843718;
$orange--700: #a74c28;
$orange--600: #c25a31;
$orange--500: #d4663b;
$orange--400: #de8461;
$orange--300: #ea9e85;
$orange--200: #f5cabc;
$orange--100: #fff0eb;

/*
# Purple
*/
$purple--900: #0a075a;
$purple--800: #110e74;
$purple--700: #221e99;
$purple--600: #2f2ab8;
$purple--500: #403bd4;
$purple--400: #615ade;
$purple--300: #8681ec;
$purple--200: #b3b0ef;
$purple--100: #e7e6fa;



// TEMP COLORS
$color__black--base : #464646;

$color__red--med: #e86f69;
$color__red--base: #E1443D;
$color__red--dark: #cb271f;
$color__red--darkest: #9f1e19;

$color__blue--med   : #4A9EAA;
$color__blue--base  : #298EE9;
$color__blue--dark  : #154774;


$color__green--base: #0DB22A;
$color__green--lime: #A8F3B5;

$color__gray--light : #EDEDED;
$color__gray--med   : #D9D9D9;
$color__gray--base  : #9B9B9B;
$color__gray--dark  : #646464;

$color__orange--base: #F49742;

$color__purple--base: #5B4799;

$color__gray--background: #FBFBFB;