---
layout: default
title: GP Pricing
---

<!-- Sticky header with "Need any help"-button
     This header will only appear while over the section with all the products
     When the user scrolls passed the products the header will hide again  -->
<header class="my-header py-3 shadow hidden" id="stickyHelpBar">
    <div class="container">
        <div class="row my-row just-content-space-between align-items-center">
            <div class="col-md-6 my-col1 d-none d-md-inline-block">
                <img src="/assets/images/branding/logo__thehoth--dark.svg" width="100px" class="my-auto" alt="2 Months Left">
            </div>
            <div class="col-md-6 text-center text-md-right">
                <span class="mr-3 text__font-size--18">Want some help?</span><div class="btn btn--red btn-lg">Book a call</div></div>
        </div>
    </div>
</header>

<div class="container mt-5 mb-5 content" style="min-height: 300vh;">
    <div class="row justify-content-center mb-4 px-4">
        <!-- Filter seection -->
        <h1 class="text-center mb-4">What kind of SEO service are you looking for?</h1>       
            <div class="responsive-btn-group">
                <button class="btn" data-filter="all">All Services</button>
                <button class="btn" data-filter=".managed-seo">Managed SEO</button>
                <button class="btn" data-filter=".link-building">Link Building</button>
                <button class="btn" data-filter=".content-creation">Content Creation</button>
                <button class="btn" data-filter=".reputation-mgmt">Reputation Mgmt.</button>
            </div>
    </div>
    
    <div class="container p-1 mb-5">
        <div class="card-deck" id="cardDeck">
            {% for product in site.products %} 
            <div class="card my-3 p-0 card--hoverable {% for filter in product.filters %} {{filter }} {% endfor %}">
                <a href="{{ product.url}}" class="link--no-decoration">
                    <div class="card-header">
                        {% if product.hide-mascot != true %}<img src="/assets/images/branding/logo__thehoth--mascot.png" class="mr-3" style="width: 40px; height: 50px; float: left;" alt="HOTH">{% endif %}
                        <h3 class="my-auto">HOTH<span class="{% if product.product-color %}{{product.product-color}}{% else %} text__color--red{% endif %}">{{ product.title }}</span></h3>
                        <div>{% for category in product.categories %} <span class="card__keywords">{{ category }}</span> {% endfor %}</div>
                    </div>
                </a>    
                <div class="card-body">
                    <p class="card-text">{{ product.summary }}</p>
                    <!-- icon style question -->
                    <div class="price"><i class="material-icons md-18 mr-1 mb-1" style="vertical-align: middle">monetization_on</i>{{ product.pricing }}</div>
                </div>
                <div class="card-footer">
                    <a href="{{ product.url}}" class="card-link text__heading--uppercase link--red">Take a tour</a>
                    <a href="{{ product.url}}" class="card-link text__heading--uppercase link--red">Place order</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="well text-center pt-5 pb-5" id="productFooter">
        <h2>Want some help?</h2>
        <p class="mx-auto">We have a full suite of products for every need. If you want some help selecting which one is right for you, just book a call with us!</p>
        <button class="btn btn-lg btn--red">Book a call now!</button>
    </div>
</div>


<!-- Move to scripts -->
<script>
    window.onscroll = function() {myFunction()};
    
    var cardSection = document.getElementById("cardDeck");
    var cardBottom = document.getElementById("productFooter");
    var stickyStart = cardSection.offsetTop;
    var stickyStop = cardBottom.offsetTop;

    var helpBar = document.getElementById("stickyHelpBar");

    function myFunction() {
        if (window.pageYOffset > stickyStart && window.pageYOffset < stickyStop-120)  {
            helpBar.classList.add("sticky");
        } else {
            helpBar.classList.remove("sticky");
        }
    }
</script>

<script src="/assets/js/mixitup.min.js"></script>
<script>
    var mixer = mixitup('.card-deck', {
        selectors: {
            target: '.card'
        },
        classNames: {
            block: '',
            elementFilter: ''
        },
        animation: {
            duration: 600
        }
    });
</script>

<style>        
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9;
    }

    .my-header:not(.sticky){
        top: -100px;
        z-index: 9;
        opacity: 0;      
    }

    .my-header{
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        transition: all 300ms ease-in; 
    }    
</style>