<!-- <!DOCTYPE html> -->
<html lang="en">

{% include head.html %}

<body>
  <!-- Guide header -->
  <header>
    <!-- Logo bar -->
    <div class="d-flex align-items-center" style="background-color: #312929;">
      <img src="/assets/images/imgs/img__hoth-logo.jpg" width="180px;" class="mx-auto">
    </div>
    <!-- /END Logo bar -->

    <!-- Navigation toggle row -->
    <div class="row d-lg-none">
      <!-- Toggle sidebar button -->
      <a href="#" onclick="openNav()" class="bg-dark list-group-item list-group-item-action d-flex align-items-center">
        <div class="d-flex w-100 justify-content-start align-items-center">

          <span id="collapse-text" class="menu-collapsed text-white">☰ Toggle navigation</span>
        </div>
      </a>
    </div>
    <!-- /END navigation toggle row -->

  </header>


  <main role="main" class='main-content__container' style="background-color: #f7f7f7">
    {{ content }}
  </main>


  <!-- TODO: hide footer on learning home page -->
  {% include learning-footer.html %}



  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src='/assets/js/scripts.js'></script>
  <script type="text/javascript" src="/assets/js/mixitup.min.js"></script>
  <script type="text/javascript" src='/assets/js/productslisting.js'></script>

  <!-- slider slick -->
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="/slick/slick.min.js"></script>

</body>

</html>